<p style="color: green"><%= notice %></p>
<div class="container is-offset-4">

  <%= render @ability %>

  <%= link_to "Edit this ability", edit_ability_path(@ability) if accessible?(@ability.character_id) %> |
  <%= link_to "Back to abilities", abilities_path %>

  <%= button_to "Destroy this ability", @ability, method: :delete if current_user.admin? %>
</div>
