<p style="color: green"><%= notice %></p>

<%= render @ability %>

<div class="container is-offset-one-quarter">
  <%= link_to "Edit this ability", edit_ability_path(@ability) if current_user.admin? || @ability&.character.in_use_by_user_id == current_user.id %> |
  <%= link_to "Back to abilities", abilities_path %>

  <%= button_to "Destroy this ability", @ability, method: :delete if current_user.admin? %>
</div>
