<!DOCTYPE html>
<html>
  <head>
    <title>HxhWorld4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://unpkg.com/htmx.org@1.9.4", crossorigin: "anonymous", integrity: "sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" %>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script> -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="htmx">
    <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
